{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <html><body><h1 style="text-align: center;">My Lucky number: {{ number }}</h1></body></html>
        <a href="{{ path('lucky_number') }}">go To random number</a>
    </div>
{% endblock %}